<h1>Browse through the Deep Sky Catalogue.</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>NGCID</th>
      <th>Name</th>
      <th>Date Created</th>
      <th>Date Modified</th>
      <th>NASA Official Image</th>
      <th>Post Information</th>
    </tr>    
  </thead>

  <tbody *ngFor="let catalog of catalogList">
    <tr> 
      <td>{{catalog.id}}</td> <!--For reference-->
      <td>{{catalog.CatalogId}}</td>
      <td>{{catalog.Name}}</td>
      <td>{{catalog.DateCreated}}</td>
      <td>{{catalog.DateModified}}</td>

      <td>
        <app-nasa-image-api [CatalogID]="catalog.Name"></app-nasa-image-api>
      </td>

      <td>
        <app-post [CatalogID] ="catalog.CatalogId"></app-post>
      </td>
    </tr>
  </tbody>
</table>

<h2 class="text-center">Catalog CRUD Operations</h2>

<div class="container">
  <div class="row">

    <div class="col-sm">
      
      <!--Template-driven form.-->
      <form #addCatalogForm="ngForm" (ngSubmit)="addCatalog(catalogEntry)">
        <h4>Add a new catalog entry: </h4> <br>
        <label for="CatalogID">Catalog Id: 
          <input type="text" class="form-control" id="CatalogID" [(ngModel)]="catalogEntry.CatalogId" name="CatalogId">
        </label> <br>
        <label for="CatalogName">Catalog Name: 
          <input type="text" class="form-control" id="CatalogName" [(ngModel)]="catalogEntry.Name" name="Name"> </label>
        <button type="submit">Add Catalog Entry</button>
      </form>
       

    </div>
  
    <div class="col-sm">
      
        <h4>Search for a catalog entry by Catalog Name: </h4> <br>
        <label for="CatalogName">Catalog Name: 
          <input type="text" id="CatalogName" name="Name" #SearchCatalogName> 
        </label>
      
      <button (click)="getCatalogEntry(SearchCatalogName.value)"> Get Entry </button>

      <div>
      <h5>Here is the entry with the following info (If applicable): </h5>

        <div *ngIf="catalogStatus"> 

          <table>
            <thead>
              <tr>
                <th>NGCID</th>
                <th>Name</th>
                <th>Date Created</th>
                <th>Date Modified</th>
              </tr>
            </thead>

            <tbody *ngFor="let entry of catalogEntry">
              <tr>
                <td>{{entry.CatalogId}}</td>
                <td>{{entry.Name}}</td>
                <td>{{entry.DateCreated}}</td>
                <td>{{entry.DateModified}}</td>
              </tr>
              
            </tbody>
          </table>

        </div>

      </div>
    </div>
    
    <div class="col-sm">
      <h4>Update a specific catalog entry: <br>
          Note: At this time, we only allow the name to be updated. </h4> <br>
      <label>Catalog NGCID: 
        <input type="text" #UpdateCatalogId>
      </label> <br>
      <label>Catalog Name: <input type="text" #UpdateCatalogName> </label>
      <button (click)= "updateCatalog(UpdateCatalogId.value, UpdateCatalogName.value)">Update Catalog Entry</button> 
    </div>

    <div class="col-sm">
      <h4>Delete a catalog entry by the CatalogId: </h4> <br>
      <label>Catalog NGCID: 
        <input type="string" #DeleteId>
      </label> <br>
      <button (click)= "deleteCatalog(DeleteId.value)">Delete Catalog Entry</button> 
    </div>

  </div>
</div>