<p>catalogue works!</p>

<h1>Browse through the Deep Sky Catalogue.</h1>

<h2>This is a table</h2>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>NGCID</th>
      <th>Name</th>
      <th>Post Title</th>
      <th>Comments</th>
      <th>Picture</th>
    </tr>    
  </thead>

  <tbody *ngFor="let catalog of catalogList, let i = index">
    <tr> 
      <td>{{catalog.id}}</td>
      <td>{{catalog.name}}</td>
      
      <!--Traverse thru the postList.-->
      <td>{{postList[i].title}}</td>
      <td>{{postList[i].description}}</td>
      <td><img src="{{postList[i].url}}" class="responsive"></td>
    </tr>
  </tbody>
</table>

<h2>Make the changes to the table.</h2>
<div>
  <label>Add a new catalog entry: </label> <br>
  <label>Catalog Id: <input type="text" #CatalogId></label> <br>
  <label>Catalog Name: <input type="text" #CatalogName> </label>
  
  <!--Need to include the value!!!-->
  <button (click)= "add(CatalogId.value, CatalogName.value)">Add Catalog Entry</button> 
</div>

<div>
  <label>Delete a catalog entry: </label> <br>
  <label>Catalog Id: <input type="text" #DeleteId></label> <br>
  <button (click)= "delete(DeleteId.value)">Delete Catalog Entry</button> 
</div>