<h3>Please sign in.</h3>


<form #signInForm="ngForm" (ngSubmit)="validateUser(userForm)">
  <label for="UserID">User ID:
    <input type="text" class="form-control" id="UserID" [(ngModel)]="userForm.UserID" name="UserID">
  </label> <br>
  <label for="FirstName">First Name:
    <input type="text" class="form-control" id="FirstName" [(ngModel)]="userForm.FirstName" name="FirstName">
  </label> <br>
  <label for="LastName">Last Name:
    <input type="text" class="form-control" id="LastName" [(ngModel)]="userForm.LastName" name="LastName">
  </label> <br>
  <button type="submit">LogIn</button>
</form>

<div *ngIf="validateLogIn==false">
  <h3 style="color: crimson">Please check your information again. The login is not correct.</h3>
</div>
