<h2>View through the list of posts related to {{CatalogID}}</h2>
  
<table>
    <thead>
      <th>ID</th>
      <th>PostID</th>
      <th>Title</th>
      <th>Description</th>
      <th>Image</th>
      <th>User</th>
    </thead>

  <tbody *ngFor="let post of PostList">
      <tr> 
        <td>{{post.id}}</td>
        <td>{{post.PostId}}</td>
        <td>{{post.title}}</td> <!--For reference-->
        <td>{{post.description}}</td> 
        <th><img src="{{post.url}}" class="responsive"></th>
        <td>{{post.UserId}}</td>
      </tr>
    </tbody>
  </table>

<h2 class="text-center">POST CRUD Operations</h2>

<div class="container">
  <div class="row">

    <div class="col-sm">
      <h4>Add a new post</h4>
      <form #addPostForm="ngForm" (ngSubmit)="addPost(postEntry)">
        <label for="PostID">New PostID: 
          <input type="text" class="form-control" id="PostID" name="PostID" [(ngModel)]="postEntry.PostId">
        </label>
        <label for="PostTitle">New PostTitle: 
          <input type="text" class="form-control" id="PostTitle" name="PostTitle" [(ngModel)]="postEntry.title">
        </label>
        <label for="PostDesc">New PostDescription: 
          <input type="text" class="form-control" id="PostDesc" name ="PostDesc" [(ngModel)]="postEntry.description">
        </label>
        <label for="PostURL">New PostURL: 
          <input type="text" class="form-control" id="PostURL" name="PostURL" [(ngModel)]="postEntry.url">
        </label>
        <label for="PostUserID">New PostUserID: 
          <input type="text" class="form-control" id="PostUserID" name="PostUserID" [(ngModel)]="postEntry.UserId">
        </label>

        <button type="submit">Add a new post</button>
      </form>
      
    </div>
    
    <div class="col-sm">
      <h4>Update a post. At this time, you can only update the description. </h4>
      <label>Type in the PostID to update: <input type="text" #FetchPostID></label>
      <label>Updated Description: <input type="text" #UpdateDesc></label>
      <button (click)="updatePost(FetchPostID.value, UpdateDesc.value)">Update Post</button>
    </div>
    

    <div class="col-sm">
      <h4>Delete a post!</h4>
      <label>Select PostID to delete: <input type="text" #DeletePostID></label>
      <button (click)="deletePost(DeletePostID.value)">Delete the post</button>
    </div>

  </div>
</div>